body
{
  font-family: Menlo, Courier, monospace;
  background-color: black;
}

.tab-container
{
  padding: 4px 4px 0 4px;
  background-color: #545454;
}

.monitor-tabs {
  display: inline-block;
}

.monitor-tab, .launcher {
  /*border: 1px dotted black;*/
  background-color: #909090;
  margin-right: 4px;
  display: inline-block;
  color: black;
  border-bottom: none;
  text-decoration: none;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.monitor-tab.current
{
  background-color: #b4b4b4;
}

.monitor-tab span, .launcher
{
  display: inline-block;
  padding: 4px 6px;
}

.monitor-tab .close
{
  transition: background-color 0.1s;
  border-radius: 2px;
}

.monitor-tab .close:hover
{
  background-color: #808080;
  /*background-color: white;*/
}

.monitor-tab.current .close:hover
{
  background-color: #a4a4a4;
}

.monitor-tab:last-child
{
  margin-right: 1em;
}

.launchers
{
  display: inline-block;
}

.launcher
{
  opacity: 0.4;
  transition: opacity 0.1s;
}

.launcher:hover
{
  opacity: 1;
}

.monitors {
  background-color: black;
  padding: 1em;
  clear: left;
}

.monitor {
  overflow: scroll;
  height: 400px;
  display: none;
  color: white;
  background-color: black;
}

.monitor.current {
  display: block;
}

.monitor .stderr {
  color: #fbb;
}

.monitor .system {
  color: #bbf;
}

.monitor-launch {
  display: inline-block;
  margin-left: 40px;
}

.offline {
  display: block;
  background-color: #545454;
  color: #ff7a64;
  padding: 10px;
}