h1 {
  font-size: 200%;
}

h2 {
  font-size: 175%;
}

h3 {
  font-size: 150%;
}

h4 {
  font-size: 125%;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1em;
}

p {
  margin-bottom: 1em;
}

body {
  line-height: 1.25;
  font-family: Helvetica;
  background-color: white;
  color: black;
}

a {
  color: blue;
}
